<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adalab Web Starter Kit</title>  
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <!-- input, botón prueba, caja feedbak, contador -->
  <div class="page">
    <span class="counter">3</span>
    <h1>Adivina el número</h1>
    <form action="">
      <label for="useNumber">Introduce aquí tu número</label>
      <input type="text" name="numero" id="useNumber">

    </form>
    <p class="clue-box">Escribe un número y dale a prueba</p>

  </div>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
